<h2 mat-dialog-title>Add Film</h2>
<mat-dialog-content>
  <form #f=ngForm (ngSubmit)="onSubmit(f)" novalidate class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="filmName" name="Name" placeholder="Film Name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="description" name="description" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="imageUrl" name="imageUrl" placeholder="Image Url">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Yes</button> -->
  <button type="submit" mat-flat-button color="primary">Add</button>
</mat-dialog-actions>