<mat-toolbar>Films app</mat-toolbar>
<main class="container">
  <app-film-list [films]="films$ | async" [label]="'Список фильмов'" (select)="onSelect($event)" (remove)="onRemove($event)"></app-film-list>
  <app-film-selected [film]="selected$ | async"></app-film-selected>
  <!-- <app-add-film (addFilm)="onAdd($event)"></app-add-film> -->
</main>

